[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple/"
verify_ssl =false

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
flask = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-admin = "*"
flask-babelex = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-httpauth = "*"
flask-moment = "*"
flask-dropzone = "*"
flask-ckeditor = "*"
flask-avatars = "*"

[requires]
python_version = "3.7"
