<ul class="col-md-12 comments">
    {% for comment in comments %}
        <li class="comments">
            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img class="img-rounded profile-thumbnail"
                         src="{{ url_for('blog.get_avatar', filename=comment.author.avatar_s) or avatars.default() }}">
                </a>
            </div>
            <div class="comment-content">
                <div class="comment-date">{{ moment(comment.create_time).fromNow() }}</div>
                <div class="comment-author"><a
                        href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                </div>
                <div class="comment-body">
                    {% if moderate or not comment.disabled %}
                        {% if comment.body %}{{ comment.body }}{% endif %}
                        <div class="comment-replies">
                            {% if comment.replies %}
                                <strong>回复({{ comment.replies | length }}条)：</strong>
                                <ul class="list-group">
                                    {% for reply in comment.replies %}
                                        <li class="list-group-item"><a
                                                href="{{ url_for('.user', username=reply.author.username) }}">{{ reply.author.username }}</a>: {{ reply.body }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                    {% endif %}
                </div>
                {% if moderate %}
                    <br>
                    {% if comment.disabled %}
                        <p class="text-danger text-right">
                            <i>该评论被管理员禁止</i>
                            <a class="btn btn-primary btn-xs "
                               href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">取消禁止</a>
                        </p>
                    {% else %}
                        <p class="text-right">
                            <a class="btn btn-danger btn-xs"
                               href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">禁止该评论</a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>