{% extends "common/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "common/_macros.html" as macros %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='share/dist/css/share.min.css') }}" type="text/css">
{% endblock %}
{% block title %}{{ super() }}-- 文章{% endblock %}

{% block page_content %}
    {% include 'blog/_post_details.html' %}
    <div class="social-share text-center">分享到：</div>
    <hr>
    {% if current_user.can(Permission.COMMENT) %}
        <div class="comment-form" id="comment-form">
            <form method="post" class="form-inline">
                <div class="form-group"> {{ form.body }}</div>
                {{ form.csrf_token }}
                {{ form.replied_id }}
                <div class="form-group"> {{ form.submit }}</div>
            </form>
        </div>
    {% endif %}
    {% include 'blog/_comments.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='share/dist/js/jquery.share.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("span.btn.btn-link").click(function () {
                $("#comment-form").appendTo(this.parentElement);
                $("#replied_id").val($(this).attr("replied_id"));
            });
        });
    </script>
{% endblock %}