{% extends "common/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "common/_macros.html" as macros %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='share/dist/css/share.min.css') }}" type="text/css">
{% endblock %}
{% block title %}{{ super() }}-- 搜索结果{% endblock %}

{% block page_content %}
    <div>
        <h3 align="center">搜索“{{ search_text }}”结果</h3>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">文章({{ posts | length }})</a></li>
            <li role="presentation"><a href="#">标签({{ tags | length }})</a></li>
            <li role="presentation"><a href="#">分类({{ categorys | length }})</a></li>
            <li role="presentation"><a href="#">用户({{ users | length }})</a></li>
        </ul>
        <h5>搜索到的文章</h5>
        {% include 'blog/_posts_list.html' %}
        {% if posts_pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(posts_pagination,'blog.search',search_text=search_text) }}
            </div>
        {% endif %}

        <h5>搜索到的标签</h5>
        <ul class="posts">
            {% for tag in tags %}
                <li class="post">
                    <div>&nbsp;&nbsp;
                        <a href="{{ url_for('blog.post_list',tag=tag.name) }}">{{ tag.name }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if tags_pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(tags_pagination,'blog.search',search_text=search_text) }}
            </div>
        {% endif %}

        <h5>搜索到的分类</h5>
        <ul class="posts">
            {% for category in categorys %}
                <li class="post">
                    <div>&nbsp;&nbsp;
                        <a href="{{ url_for('blog.post_list',category=category.name) }}">{{ category.name }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if categorys_pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(categorys_pagination,'blog.search',search_text=search_text) }}
            </div>
        {% endif %}

        <h5>搜索到的用户</h5>
        <ul class="posts">
            {% for user in users %}
                <li class="post">
                    <div>&nbsp;&nbsp;
                        <a href="{{ url_for('.user',username=user.username) }}">{{ user.username }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if users_pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(users_pagination,'blog.search',search_text=search_text) }}
            </div>
        {% endif %}
    </div>
{% endblock %}