{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}{{ super() }} -- 首页{% endblock %}

{% block page_content %}
    <h2>Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.username }}</h2>
        {% else %}
            <h3>你好，欢迎访问本站！</h3>
        {% endif %}
    <div>
        {% if current_user.can(Permission.WRITE) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    {% include "_posts.html" %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.index') }}
        </div>
    {% endif %}
{% endblock %}