{% extends "base.html" %}
{% block title %}{{ super() }}--{{ user.username }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>{{ user.username }}</h3>
        {% if user == current_user %}
            {% if user.name %}<p>姓名：{{ user.name }}</p>{% endif %}
            {% if user.phone_number %}<p>手机号姓名：{{ user.phone_number }}</p>{% endif %}
        {% endif %}
        {% if user.location %}
            <p>
                位置：<a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a>
            </p>
        {% endif %}
        {% if user.email %}<p>邮箱：{{ user.email }}</p>{% endif %}
        {% if user.about_me %}<p>简介：{{ user.about_me }}</p>{% endif %}
        <p>注册时间：{{ moment(user.member_since).format('L') }}</p>
        <p>访问时间：{{ moment(user.last_seen).fromNow() }}</p>
    </div>
    {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
            编辑资料
        </a>
    {% endif %}
{% endblock %}