{% extends "base.html" %}
{% block title %}{{ super() }}--{{ user.username }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>{{ user.username }}</h3>
        {% if user.name or user.location %}
            <p>
                {% if user.name %}{{ user.name }}{% endif %}
                {% if user.location %}
                    来自<a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a>
                {% endif %}
            </p>
        {% endif %}
        {% if current_user.is_administrator() %}
            <p>{{ user.email }}</p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
            注册时间：{{ moment(user.member_since).format('L') }}
            最后访问时间：{{ moment(user.last_seen).fromNow() }}
        </p>
    </div>
{% endblock %}